{% block date_picker_widget %}
    {% if picker_icon == true %}
        <div data-format="{{ picker_format }}" class="datetimepicker input-group">
            <input type="text" {{ block('widget_attributes') }} class="form-control date" value="{{ value }}" maxlength="10">
                <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    {% else %}
        <input type="text" {{ block('widget_attributes') }} class="form-control date datetimepicker" data-format="{{ picker_format }}" value="{{ value }}" maxlength="10">
    {% endif %}
{% endblock %}

{% block date_time_picker_widget %}
    {% if picker_icon == true %}
        <div data-format="{{ picker_format }}" class="datetimepicker input-group">
            <input type="text" {{ block('widget_attributes') }} class="form-control datetime" value="{{ value }}" maxlength="18">
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    {% else %}
        <input type="text" {{ block('widget_attributes') }} class="form-control datetime datetimepicker" data-format="{{ picker_format }}" value="{{ value }}" maxlength="18">
    {% endif %}
{% endblock %}